<div style="height: 50px;"></div>

<p style="color: green; text-align: center; font-size: 30px;">Thank You For Registering!
     Admin Will View Your Profile. 
     You Can Login To See The Response
</p>

<div style="text-align: center; font-size: 25px;">
<a href="/users/login">Login</a>
</div>
